@import 'https://fonts.googleapis.com/css?family=Abel';

body{
    /** background-image:url("/assets/img/globe-bg.jpg"); **/
}

h1,h2,h3 {
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #FE9900;
    font-weight: 1.2em;
}

h1 {
    color: #333;
}

.lead {
    font-family: 'Abel', sans-serif;
}

.btn-success {
    background-color: #FE9900;
    color: #000;
    border-color: #FE9900;
}

