body {
    font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
    /**font-family: NonBreakingSpaceOverride, "Hoefler Text", Garamond, "Times New Roman", serif;**/
    background-color: #ffffff;
    color: #2E2C2F;
    margin-top: 50px;
    margin-bottom: 50px;
}

h1 {
    font-family: "Inter bold", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
}

h2 {
    font-size: 2.4rem;
    font-weight: 700;
}

.lead {
    font-family: "Inter bold", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
    margin-top: 20px;
    font-size: 2.2rem;
    line-stacking: 1.3em;
}

.lead strong {
    font-weight: 500;
}

.hey-there {
    font-size: 5.4rem;
    font-weight: 900;
    color: #f1f1f1;
    padding-bottom: 0.5rem;
    position: relative;
    margin-left: -4.0rem;
    margin-bottom: -2.5rem;
}

.section-title {
    font-size: 3.4rem;
    font-weight: 900;
    margin-left: -0.8rem;
    color: #283c46;
}

.standout {
    font-size: 1.6rem;
}

p a:link {
    color: #82B2CA;
}

p a:visited {
    color: #82B2CA;
}

p a:hover {
    color: #776273;
    text-decoration: none;
}

p a:active {
    color: #776273;
}


.projects p {
    font-size: 1.4rem;
}

.projects a:link {
    color: #1F5983;
    font-weight: bold;
}

.projects a:visited {
    color: #1F5983;
}

.projects a:hover {
    color: #776273;
    text-decoration: none;
}

.projects a:active {
    color: #776273;
}

.tip-link a:link {
    color: #1b1e21;
    text-decoration: dotted;
}

ul {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #283C46;
}

ul.socials {
    text-align: center;
    margin: 0;
    padding: 0;
}

ul.socials li {
    list-style-type: none;
    display: inline-block;
    margin-left: 0 auto;
    margin-right: 0 auto;
    padding-right: 50px;
    font-size: 2.0em;
    padding-top: 40px;
    padding-bottom: 40px;
}

ul.socials li:last-of-type {
    padding-right: 0;
}

ul.socials li a i {
    color: #283C46;
}

ul.socials li a i:hover {
    color: #22566B;
}

ul.projects li {
    margin-top: 1.3rem;
}

.fa-github {
    color: #BA5944;
}

.fa-twitter {
    color: #BA5944;
}

.fa-envelope {
    color: #BA5944;
}

.fa-wordpress {
    color: #BA5944;
}


.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

.btn-primary {
    background-color: #475B63;
    color: #FFFFFF;
    border-color: #475B63;
}

.btn-primary:hover {
    background-color: #283C46;
    color: #FFFFFF;
    border-color: #283C46;
}

.btn-primary li a:visited {
    color: #ffffff;
}

.space-right {
    margin-right: 2rem;
    margin-bottom: 2rem;
}

